#  Using Lists in python

In [1]:
list1= ["ALi","Ahmad","Rami"]

create a list of Strings list1

In [2]:
list1[0]

'ALi'

In [3]:
list1[2]

'Rami'

Get an element from the list by its index list1[index of the element]

In [5]:
list1[3]

IndexError: list index out of range

get error because we try to get element out of list length (this element not exist in the list1)

In [8]:
len(list1)

3

use len() method to return the length of list1

In [18]:
list1=['Ali','Ahmad','Rami']
for i in range(3):
      list1[i] = list1[i] + ' Sami'

use loop for add string to the list1 elements

In [19]:
print(list1)

['Ali Sami', 'Ahmad Sami', 'Rami Sami']

print list1 after adding string to its element

In [21]:
list2 = [5,'Jenan',[4,5]]

create new list list2 of elements of deffirent data types

In [22]:
list2

[5, 'Jenan', [4, 5]]

print list2

In [23]:
list1.append('Muna Sami')
print(list1)

['Ali Sami', 'Ahmad Sami', 'Rami Sami', 'Muna Sami']

add element to the list1  using append() method

In [24]:
list1.extend(['marah Sami', "Maya Sami"])
print (list1)

['Ali Sami', 'Ahmad Sami', 'Rami Sami', 'Muna Sami', 'marah Sami', 'Maya Sami']

add list of strings to the list1 using extend() method

In [25]:
Sami = list1 + ['Nawal Sami', 'Eman Sami']
print(Sami)

['Ali Sami', 'Ahmad Sami', 'Rami Sami', 'Muna Sami', 'marah Sami', 'Maya Sami', 'Nawal Sami', 'Eman Sami']

add list to the list list1 using + operation

In [26]:
len(Sami)

8

using len() method to find length of list sami

In [28]:
Sami.insert(2, 'Noor Sami')
print(Sami)

['Ali Sami', 'Ahmad Sami', 'Noor Sami', 'Rami Sami', 'Muna Sami', 'marah Sami', 'Maya Sami', 'Nawal Sami', 'Eman Sami']

insert elements at any position in the list Sami using the insert() method

In [29]:
del Sami[1]
print(Sami)

['Ali Sami', 'Noor Sami', 'Rami Sami', 'Muna Sami', 'marah Sami', 'Maya Sami', 'Nawal Sami', 'Eman Sami']

In [31]:
Sami.remove('Nawal Sami')
print (Sami)

['Ali Sami', 'Noor Sami', 'Rami Sami', 'Muna Sami', 'marah Sami', 'Maya Sami', 'Eman Sami']

delete elements by their indexs using del method  or by their names using remove() method

In [32]:
Sami.sort()
print(Sami)

['Ali Sami', 'Eman Sami', 'Maya Sami', 'Muna Sami', 'Noor Sami', 'Rami Sami', 'marah Sami']

sort the elements of Sami list using sort() method

In [33]:
list3 = [0,1,4,9,16,25,36,49]

Create new list (list3) of integers  squares

In [37]:
list3[0:3]

[0, 1, 4]

In [38]:
list3[1:2]

[1]

get sub list of list3

In [40]:
list3[:3]

[0, 1, 4]

In [42]:
list3[2:]

[4, 9, 16, 25, 36, 49]

In [23]:
list3[:]

[0, 1, 4, 9, 16, 25, 36, 49]

print all the list3 elements

In [43]:
list3[-1]

49

In [44]:
list3[3:5] = ['9', '16']
print(list3)

[0, 1, 4, '9', '16', 25, 36, 49]

In [45]:
del list3[-2:]

In [46]:
for value in list3:
    print("Element: ", value)

Element:  0
Element:  1
Element:  4
Element:  9
Element:  16
Element:  25

using loop for print elements of list3

In [47]:
for index, value in enumerate(list3):
    print("Element", index, "-> ", value)

Element 0 ->  0
Element 1 ->  1
Element 2 ->  4
Element 3 ->  9
Element 4 ->  16
Element 5 ->  25

using loop for print index and element of list3